DROP DATABASE IF EXISTS GMOGA;
CREATE DATABASE GMOGA;
USE GMOGA;

CREATE TABLE OPERATIONS (ID INT NOT NULL AUTO_INCREMENT,
	OPERATION VARCHAR(2) NOT NULL,
	PRIMARY KEY (ID));
	
CREATE TABLE SEPARATORS (ID INT NOT NULL AUTO_INCREMENT,
	SEPARATORS VARCHAR(2) NOT NULL,
	PRIMARY KEY (ID));
	
CREATE TABLE CONSTANTS (ID INT NOT NULL AUTO_INCREMENT,
	CONSTANT VARCHAR(10) NOT NULL,
	VALUE FLOAT NOT NULL,
	PRIMARY KEY(ID));
	
CREATE TABLE FUNCTIONS (ID INT NOT NULL AUTO_INCREMENT,
	FUNCTION VARCHAR(15) NOT NULL,
	PRIMARY KEY(ID));
	
INSERT INTO OPERATIONS (OPERATION) VALUES ('+'), ('-'), ('*'), ('/'), ('^'), ('='), ('<'), ('>'), ('<>'), ('<='), ('>=');
INSERT INTO SEPARATORS (SEPARATORS) VALUES ('('), (')'), ('|'), (' ');
INSERT INTO CONSTANTS (CONSTANT, VALUE) VALUES ('PI', '3.14159265359'), ('e', '2.71828');
INSERT INTO FUNCTIONS (FUNCTION) VALUES ('ABS'), ('COS'), ('EXP'), ('LN'), ('LG'), ('MAX'), ('MIN'), ('N'), ('POWER'), ('R'), ('ROOT'), ('SIGN'), ('SIN'), ('SQR'), ('SQRT'), ('TAN');